*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100vw;
    height: 100vh;
}
img{
    content: normal !important;
}

#app-main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#app-main > .app-top{
    
}

#app-main > .app-content{
    flex: 1;
    overflow: hidden;
}

#app-main > .app-bottom{
    
}

.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
